@use 'abstract/root';
@use 'abstract/var';





.main{

   
    
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: 1;

    .main__overlay-info{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 30%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
        background-color: white;
        z-index: 10;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;

       

        border-radius: 1rem;


        div{
            flex: 1 1 calc(25% - 20px);
            overflow: hidden;
            
            
            justify-content: left;
            max-width: 10rem;
            
            
           

            .info__title{
                font-size: 1rem;
                font-weight: 600;
                color: var.$dark-grey;
                line-height: .5rem;
            }

            .info__text{
                overflow-wrap: break-word;
                // font-size: clamp(.8rem, 2vw, 1.5rem);
                font-weight: 600;
                color: var.$very-dark-grey;

                font-size: clamp(1rem, 2vw, 1.2rem);


            }


            
        }
        
    }
}


.main__map{
    width: 100%;
    height: 60vh; 
    z-index: 0;

    // background-color: aqua;
}


@media (max-width: 768px){
    .main{
        .main__overlay-info{
          width: 72%;
          height: auto;
          max-height: 60vh;
          top: 15%;

          padding: 10px;
          align-items: center;
          justify-content: center;

            div{
                flex: 1 1 100%;
                text-align: center;

                .info__title{
                    font-size: 1rem;
            
                }

                .info__text{
                    font-size: 1rem;
                }
          
            }
    }

}
}